@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    font-family: 'Open Sans Condensed', Times, serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3e4955;
}

.distance{
    margin: 0px 100px 0px 100px;
}


.header-nav{
    background-color: #222831;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-nav{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    
}


nav li{
    display: inline;
}

nav li a:hover{
    color: #AAAAAA;
}

.left li a {
    text-decoration: none;
    color:white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Poppins';
}

.right li a{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Poppins';
    
}
.right li{
    /* margin-left: 25px; */
    padding-right: 15px;
}

.left{
    width: 20%;
    text-align: left;
    /* margin-left: 30px; */
    /* padding-left: 200px; */
}

.right{
    width: 90%;
    text-align: right;
    /* margin-right: 30px; */
    /* padding-right: 200px; */
}

.jumbotron{
    position: relative;
    text-align: center;
    color: white;
    background-color: #93B5C6;
    background: url(../img/jumbotron.jpg);
    background-size: cover;
    background-position: 0px;
    height: 400px;
    width: 100%;
    opacity: 1px;
    /* line-height: 700px; */
}

.jumbotron h1{
    padding-top: 160px;
    color: #C9CCD5;
    font-size: 32px;
    font-family: 'Inter';
}

.jumbotron h2{
    font-size: 20px;
    font-family: 'Inter';
}

.container-outside{
    background-color: #064663;
    /* border: 5px solid white; */

}
.container-content{
    /* margin: 50px; */
    /* border: 5px solid white; */
    /* border-radius: 10px; */
    color: black;
    display: flex;
    flex-direction: column;
    background-color: #506D84;
}
.title{
    /* border-bottom: 1px solid white; */
}

.title h1{
    /* border-radius: 15px; */
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #1F1D36;

}

.about{
    display: flex;
    height: 300px;
    /* border: 15px; */
}

.content-kiri{
    /* background-color: white; */
    margin: auto;
    /* border: 1px solid black; */
    width: 30%;
    /* margin: 30px; */
    text-align: center;

}
.content-kiri img{
    /* margin: 0px auto; */
    /* margin: 20px; */
    width: 270px;
    padding: 5px;
    border: 1px dotted white;
}

.block{
    width: 1px;
    background-color: white;
    margin: 10px 0px 10px 0px;

}

.content-kanan{
    width: 70%;
    /* margin: 20px; */
    /* margin: 10px 20px 20px 20px; */
    /* background-color: #F7ECDE; */
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}

.content-kanan h2{
    color: #F4D19B;
    margin-top: 10px;
    margin-bottom: 10px;

}

.content-kanan p{
    font-size: 12px;
    color: white;
}
.content-kanan ul{
    margin-top: 10px;
    margin-left: 19px;
}

.content-kanan li{
    padding: 5px;
    font-size: 12px;
    color: white;
}

.container-portofolio{
    /* border: 4px solid #398AB9; */
    display: flex;
    height: 300px;
    /* background-color: #FFD32D; */
    /* background-color: #041C32; */
    background-color: #212422;
    background-color: grey;
}
.profile, .skill{
    width: 240px;
    height: 240px;
    border-radius: 50px;
    padding: 20px;
    margin: auto;
    background-color: #414141;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile h2, .skill h2{
    color: #C9CCD5;
    padding-bottom: 20px;
    text-align: center;
    font-size: 17px;

}


.profile ul , .skill ul{
    margin-left: 35px;
    font-size: 12px;
}

.profile li , .skill li{
    margin-bottom: 10px;
}


.sekil{
    display: flex;
}

#s-1{
    margin-right: 5px;
}

.container-experience{
    /* border-radius: 15px; */
    /* background-color: #3489aa; */
    /* border: 4px solid #398AB9; */
    background-color: #041C32;
    display: flex;
    height: 300px;
    width: 100%;
    /* border: 4px solid white; */
}

.container-experience h2{
    /* margin-top: 40px; */
    /* padding: 10px; */
    padding: 20px 0px 10px 0px;
    font-size: 17px;
    text-align: center;
    color: #93B5C6;  
}

.pengalaman{
    /* display: block; */
    margin: auto;
    /* margin-top: 10px; */
    /* border: 1px solid black; */
    height: 250px;
    width: 250px;
    border-radius: 50px;
    background-color: #30475E;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

.pengalaman li{
    margin: 0px 20px 0px 40px;
    padding: 5px;
    /* margin-top: 10px; */
    font-size: 12px;
}

.social{
    background-color: #EF6D6D;
    /* background-color: black; */
    height: 300px;
    /* border: 1px solid white; */
    /* display: flex; */
    /* border: 4px solid #398AB9; */
}

.social h2{
    text-align: center;
    font-size: 17px;
    padding: 45px 0px 35px 0px;
    color: #9c0707;
    /* margin-top: 30px; */
    margin-bottom: 50px;
}

.media{

    /* border: 1px solid white; */
    /* width: 100%; */
    /* margin: 0px 420px 0px 420px; */
    display: flex;
    margin: 0 auto;
    text-align: center;
    /* height: 500px; */
    width: 600px;
    /* height: 100px; */
    font-size: 12px;
    /* height: 40px; */
}



.media img{
    width: 30px;
    height: 30px;

}


.instagram, .linkedin, .whatsapp, .gmail{
    display: flex;
    margin: 0 auto;
}

.med {
    padding-top: 9px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

.med:hover{
    color: #FC4F4F;
}



footer{
    text-align: center;
    bottom: 0;
    background-color: #11324D;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
    
}
footer p {
    font-family: 'Inter', Times, serif;
}

@media screen and (max-width: 1200px) {
    .content-kiri img{
        /* margin: 20px 0px 10px 0px; */
        width: 200px;
        border: 1px dotted white;
    }
}


@media screen and (max-width: 1000px) {
    .container-nav{
        margin-left: 30px;
        margin-right: 30px;
        padding: 15px;
        
    }
    .left li a{
        font-size: 12px;
    }
    .right li a{
        padding: 0px;
        font-size: 12px;;
        
    }
    .right li{
        /* margin-left: 25px; */
        padding-right: 10px;
    }
    
    .about{
        height: 250px;
    }
    .content-kiri img{
        /* margin: 20px 0px 10px 0px; */
        width: 150px;
        border: 1px dotted white;
    }
    /* test */
    .content-kanan{
        width: 70%;
        /* margin: 20px; */
        margin: 10px 20px 20px 20px;
        /* background-color: #F7ECDE; */
        padding: 0px;
        border-radius: 10px;
        text-align: justify;
    }
    
    .content-kanan h2{
        /* font-size: 40px; */
        /* padding: 10px; */
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    
    .content-kanan p{
        /* font-size: 8px; */
        color: white;
    }
    .content-kanan ul{
        margin-top: 0px;
        margin-left: 19px;
    }
    
    .content-kanan li{
        padding: 0px;
    }
    /* *** */

    .profile, .skill{
        width: 220px;
        height: 220px;
    }
    .media{
        font-size: 10px;
        display: list-item;
        width: 100px;

    }


    .media img{
        width: 30px;
        height: 30px;
    }
    .social h2{
        padding: 10px 0px 0px 0px;
        margin-bottom: 20px;
    }
    .social{
        height: 350px;
    }
    .instagram, .linkedin, .whatsapp, .gmail{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 5px;
    }
    .social a{
        padding-left: 0px;
    }

}


@media screen and (max-width: 700px) {
    .distance{
        margin: 0px 70px 0px 70px;
    }
    /* navbar */
    .container-nav{
        margin-left: 30px;
        margin-right: 30px;
        padding: 15px;
        
    }
    .left li a{
        font-size: 12px;
    }
    .right li a{
        padding: 0px;
        font-size: 12px;;
        
    }
    .right li{
        /* margin-left: 25px; */
        padding-right: 10px;
    }

    /* jumbotron */

    .jumbotron h1{
        font-size: 24px;
    }
    
    .jumbotron h2{
        font-size: 12px;
    }

    /* about */
    .title h1{
        font-size: 20px;
    }

    .about{
        height: 240px;
    }


    .content-kiri{
        width: 40%;
        margin: 30px 0px 0px 0px; 
    }
    .content-kiri img{
        /* margin: 10px 0px 10px 0px; */
        width: 80px;
        border: 1px dotted white;
    }
    .content-kanan{
        margin: 10px;
        padding: 5px;
    }
    .content-kanan h2{
        padding: 0px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .content-kanan p{
        font-size: 8px;
        /* padding: 0 40px 0px 40px; */
        /* padding: 10px; */
    }

    .content-kanan li{
        padding: 0px;
        font-size: 8px;
    }
    .content-kanan ul{
        margin-top: 3px;
        /* margin-left: 19px; */
    }

    /* education and skills */

    .container-portofolio{
        /* margin: 10px; */
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .profile, .skill{
        width: 160px;
        height: 160px;
        border-radius: 50px;
        padding: 20px;
        margin: auto;
        background-color: #414141;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .profile h2, .skill h2{
        margin-bottom: 1px;
        padding-inline-end: 5px;
    }


    .profile ul, .skill ul{
        margin-top: 0px;
        margin-left: 25px;
    }

    

    .profile li, .skill li{
        margin-bottom: 3px;
        padding: 0px;
        font-size: 10px;

    }

    /* experience */

    .pengalaman{
        height: 190px;
        width: 190px;  
          
    }

    .pengalaman li{
        padding: 0px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    .pengalaman h2{
        /* margin-bottom: 30px; */
        padding-bottom: 10px;
    }

    /* social media */

    .media{
        font-size: 10px;
        display: list-item;
        width: 100px;

    }


    .media img{
        width: 30px;
        height: 30px;
    }

    .social{
        height: 350px;
    }
    .social h2{
        padding: 10px 0px 0px 0px;
        margin-bottom: 20px;
    }
    .instagram, .linkedin, .whatsapp, .gmail{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 5px;
    }
    .social a{
        padding-left: 0px;
    }

    footer{
        font-size: 10px;
    }
}


@media screen and (max-width: 400px) {

    .distance{
        margin: 0px 50px 0px 50px;
    }
    /* navbar */
    .container-nav{
        margin-left: 5px;
        margin-right: 5px;
        padding: 15px;
        
    }
    .left li a{
        font-size: 8px;
    }
    .right li a{
        padding: 0px;
        font-size: 8px;;
        
    }
    .right li{
        /* margin-left: 25px; */
        padding-right: 10px;
    }

    /* jumbotron */

    .jumbotron h1{
        font-size: 24px;
    }
    
    .jumbotron h2{
        font-size: 12px;
    }

    /* about */
    .title h1{
        font-size: 20px;
    }

    .about{
        height: 170px;
    }

    .container-content{
        /* margin: 20px; */
        height: auto;
    }

    .content-kiri{
        width: 50%;
        margin: 30px 0px 0px 0px;
    }
    .content-kiri img{
        /* margin: 10px 0px 10px 0px; */
        width: 50px;
        border: 1px dotted white;
    }

    /* test */
    .content-kanan{
        width: 70%;
        /* margin: 20px; */
        margin: 10px 20px 20px 20px;
        /* background-color: #F7ECDE; */
        padding: 0px;
        border-radius: 10px;
        text-align: justify;
    }
    
    .content-kanan h2{
        /* font-size: 40px; */
        /* padding: 10px; */
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 12px;
    
    }
    
    .content-kanan p{
        font-size: 7px;
        color: white;
    }
    .content-kanan ul{
        margin-top: 0px;
        margin-left: 19px;
    }
    
    .content-kanan li{
        padding: 0px;
        font-size: 7px;
    }
    /* *** */

    /* education and skills */
    .container-portofolio{
        /* margin: 10px; */
        display: flex;
        flex-direction: column;
    }

    .profile, .skill{
        width: 140px;
        height: 140px;
        border-radius: 50px;
        padding: 20px;
        margin: auto;
        background-color: #414141;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .profile h2, .skill h2{
        font-size: 15px;
        margin-bottom: 0px;
        padding-inline-end: 5px;
    }


    .profile ul, .skill ul{
        margin-top: 0px;
        margin-left: 20px;
    }

    

    .profile li, .skill li{
        margin-bottom: 0px;
        padding: 0px;
        font-size: 8px;

    }

    /* experience */

    .pengalaman{
        height: 140px;
        width: 140px;  
            
    }

    .pengalaman li{
        font-size: 6px;
        padding: 0px;
        padding-bottom: 5px;
    }

    .pengalaman h2{
        font-size: 15px;
        /* margin-bottom: 30px; */
        padding-bottom: 10px;
    }

    /* social media */
    .social h2{
        font-size: 15px;
    }

    .media{
        font-size: 10px;
        display: list-item;
        width: 100px;

    }


    .media img{
        width: 30px;
        height: 30px;
    }
    .social h2{
        padding: 10px 0px 0px 0px;
        margin-bottom: 20px;
    }
    .instagram, .linkedin, .whatsapp, .gmail{
        /* display: flex; */
        margin: 0px;
        padding: 5px;
    }

    footer{
        font-size: 10px;
    }

    
}

@media screen and (max-width: 300px) {
    .distance{
        margin: 0px 50px 0px 50px;
    }
    .content-kanan h2{
        font-size: 12px;
    }
    .profile, .skill{
        width: 130px;
        height: 130px;
        font-size: 3px;
    }
    .profile li, .skill li{
        margin-bottom: 0px;
        padding: 0px;
        font-size: 7px;

    }
    .media{
        font-size: 6px;
        display: list-item;
        width: 100px;

    }
    .content-kiri{
        margin: 5px 0px 0px 0px;
    }
    .content-kiri img{
        margin: 10px 0px 10px 0px;
        width: 50px;
        border: 1px dotted white;
    }

    
    
    .media img{
        width: 30px;
        height: 30px;
    }
    .social h2{
        padding: 10px 0px 0px 0px;
        margin-bottom: 20px;
    }
    .instagram, .linkedin, .whatsapp, .gmail{
        /* display: flex; */
        margin: 0px;
        padding: 5px;
    }

}